body {
	background-image: url("brick wall.jpg");
}
square {
  height: 99%;
  width: 75%;
  background-color: brown;
}
section {
  margin-top: 1%;
  margin-bottom: 10%;
  margin-right: 10%;
  margin-left: 20%;
}
